# IDE settings
.vscode/
.idea/

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
**/.ipynb_metadata
*.ipynb_metadata
.jupyter/
**/.jupyter/

# R files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Project specific folders
02_R_Quant_Portfolio_Investment/Chapter_*/files/
99_Web_Crawling/03_APT_Trade_Data_Crawler_*/file/
/05_Programing_and_Data/Midterm/*.csv
/05_Programing_and_Data/Final/*.xlsx
/**/my-project-1550060360364-f758ca00dc50.json